<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>
    Welcome to <%= RESTAURANT.name %>!
  </h1>
  <p>
    We are located on <%= RESTAURANT.address %>.
  </p>
  <p>
    Call to book an appointment with us at <%= RESTAURANT.phone %>
  </p>
</body>
</html>
