<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partial/nav') %>
    <h1>MENU</h1>
    <% menu.forEach((item) => { %>
        <h2><%= item.name %></h2>
    <% }); %>
</body>
</html>